.container {
  max-width: 1240px;
  width: calc(100% - 80px);
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 40px;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 56px 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


//// RESPONSIVE DESIGN

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
