.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  width: 1240px;
  margin: 0 auto;
}

.logo {
  height: 68px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 57px;
}

.link {
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.linkActive {
  text-decoration: underline;
}


//// RESPONSIVE DESIGN

@media (max-width: 1280px) {
  .header {
    width: 100%;
    padding: 2rem 40px;
    box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  .link {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 20px;
    height: 66px;
  }

  .logo {
    height: 46px;
  }

  .nav {
    gap: 24px;
    text-transform: uppercase;
  }

  .link {
    font-size: 12px;
  }
}
