.logement {
  max-width: 1240px;
  width: calc(100% - 80px);
  margin: 40px auto;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titre h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  margin: 0;
}

.titre p {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags span {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 5px 35px;
  margin: 5px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.host {
  display: flex;
  align-items: center;
  gap: 12px;
}

.host p {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin: 0;
  text-align: right;
}

.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.rating {
  display: flex;
  gap: 8px;
}

.star {
  font-size: 24px;
  color: #E3E3E3;
}

.starFilled {
  color: #FF6060;
}

.collapses {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 24px;
}

.collapses > * {
  flex: 1;
  width: auto;
  margin: 0;
}


//// RESPONSIVE DESIGN

@media (max-width: 768px) {
  .logement {
    width: calc(100% - 40px);
  }

  .infos {
    flex-direction: column;
    gap: 16px;
  }

  .right {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .titre h1 {
    font-size: 18px;
  }

  .titre p {
    font-size: 14px;
  }

  .tags span {
    font-size: 14px;
    padding: 5px 20px;
  }

  .host p {
    font-size: 12px;
  }

  .collapses {
    flex-direction: column;
    gap: 2;
  }
}
